<%- include("partials/header"); -%>

<div class="bus-page">
    <div class="row">
      <div class="col-6">
        <h3>Información del vehículo</h3>
        <h5>ID: <%=id%></h5>
        <h5>Ruta: <%=route%></h5>
      </div>
      <div class="col-6">
        <div class="row">
          <% if (locals.session.loggedin) { %>
            <form id="like_form" class="mr-4" action="/toggle_like" method="get">
              <div class="row">
                <input class="hidden_input" type="hidden" name="id" value="<%= id %>"/> 
                <input class="hidden_input" type="hidden" name="username" value="<%= username %>" /> 
                <a href="#" onclick="like()"><i id="like_icon" class="fa-solid fa-3x fa-thumbs-up ml-5 mr-2 icon_off"></i></a><div id="likesText"><%= likes %></div>
              </div>
            </form>

            <form id="dislike_form" action="/toggle_dislike" method="get">
              <div class="row">
                <input class="hidden_input" type="hidden" name="id" value="<%= id %>"/> 
                <input class="hidden_input" type="hidden" name="username" value="<%= username %>" /> 
                <a href="#" onclick="dislike()"><i id="dislike_icon" class="fa-solid fa-3x fa-thumbs-down mr-2 ml-4 icon_off"></i></a><div id="dislikesText"><%= dislikes %></div>      
              </div>
            </form>
          <% } else { %>
            <i id="like_icon" class="fa-solid fa-3x fa-thumbs-up ml-5 mr-2 icon_off"></i><div id="likesText"><%= likes %></div>
            <i id="dislike_icon" class="fa-solid fa-3x fa-thumbs-down mr-2 ml-4 icon_off"></i><div id="dislikesText"><%= dislikes %></div>    
          <% } %>
        </div>
      </div>

    </div>

    
    <div class="bus-graphs row ">
        <!-- Pasajeros -->
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
              <h2 class="h6 font-weight-bold text-center mb-4">Pasajeros</h2>
      
              <div class="progress mx-auto" data-value-current='<%=currentPassengers%>' data-value-max="<%=passengerLimit%>">
                <span class="progress-left">
                              <span class="progress-bar border-primary"></span>
                </span>
                <span class="progress-right">
                              <span class="progress-bar border-primary"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <div id="passengersText" class="h3"><%=currentPassengers%> / <%=passengerLimit%></sup></div>
                </div>
              </div>
      
              <!-- <div class="row text-center mt-4">
                <div class="col-6 border-right">
                  <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Última semana</span>
                </div>
                <div class="col-6">
                  <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Último mes</span>
                </div>
              </div> -->
            </div>
          </div>

        <!-- Asientos utilizados -->
        <div class="col-xl-3 col-lg-6 mb-4">
            <div class="bg-white rounded-lg p-5 shadow">
              <h2 class="h6 font-weight-bold text-center mb-4">Asientos utilizados</h2>
      
              <div class="progress mx-auto" data-value-current='<%=seatsInUse%>' data-value-max="<%=seats%>">
                <span class="progress-left">
                              <span class="progress-bar border-primary"></span>
                </span>
                <span class="progress-right">
                              <span class="progress-bar border-primary"></span>
                </span>
                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                  <div id="seatsText" class="h3"><%=seatsInUse%> / <%=seats%></sup></div>
                </div>
              </div>
      
              <!-- <div class="row text-center mt-4">
                <div class="col-6 border-right">
                  <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Última semana</span>
                </div>
                <div class="col-6">
                  <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Último mes</span>
                </div>
              </div> -->
            </div>
          </div>
    </div>
</div>

<script type="text/javascript">
  // const axios = require("axios");

  // setInterval(function() {
  //   console.log("Updating...")
  //   axios.get(iotURL)
  //       .then(response => {
  //           currentPassengers = response.data.feeds[0].field1;
  //           seatsInUse = response.data.feeds[0].field2;

  //           document.getElementById('passengersText').innerText = currentPassengers + " / " + passengerLimit;
  //           document.getElementById('seatsText').innerText = seatsInUse + " / " + seats;
  //       })
  // }, 1000);

  likes = document.getElementById("likesText").innerText;
  dislikes = document.getElementById("dislikesText").innerText;

  var liked = false;
  var disliked = false;

  if ("<%- ratingState %>" === "liked") {
    liked = true;
  } else if ("<%- ratingState %>" === "disliked") {
    disliked = true;
  }
  updateRatingText();

  function updateRatingText() {
    document.getElementById("likesText").innerText = likes;
    document.getElementById("dislikesText").innerText = dislikes;

    if (liked) {
      document.getElementById("like_icon").classList.add("like_icon_on");
      document.getElementById("like_icon").classList.remove("icon_off");
    } else {
      document.getElementById("like_icon").classList.remove("like_icon_on");
      document.getElementById("like_icon").classList.add("icon_off");
    }

    if (disliked) {
      document.getElementById("dislike_icon").classList.add("dislike_icon_on");
      document.getElementById("dislike_icon").classList.remove("icon_off");
    } else {
      document.getElementById("dislike_icon").classList.remove("dislike_icon_on");
      document.getElementById("dislike_icon").classList.add("icon_off");
    }
  }

  function like() {
    if (liked) { 
      likes--;
      liked = false;
      document.getElementById("like_form").submit();
    } else if (disliked) {
      likes++;
      dislikes--;
      disliked = false;
      liked = true;
      document.getElementById("like_form").submit();
      document.getElementById("dislikw").submit();
    } else {
      likes++;
      liked = true;
      document.getElementById("like_form").submit();
    }

    
    updateRatingText();
  }

  function dislike() {
    if (disliked) { 
      dislikes--;
      disliked = false;
      document.getElementById("dislike_form").submit();
    } else if (liked) {
      dislikes++;
      likes--;
      liked = false;
      disliked = true;
      document.getElementById("dislike_form").submit();
    } else {
      dislikes++;
      disliked = true;
      document.getElementById("dislike_form").submit();
    }

    
    updateRatingText();
  }

  $(function() {

      $(".progress").each(function() {
          var currentValue = $(this).attr('data-value-current');
          var maxValue = $(this).attr('data-value-max');
          var value = currentValue * 100 / maxValue;

          var left = $(this).find('.progress-left .progress-bar');
          var right = $(this).find('.progress-right .progress-bar');

          if (value > 0) {
              if (value <= 50) {
                  right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
              } else {
                  right.css('transform', 'rotate(180deg)')
                  left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
              }
          }
          
      })

      function percentageToDegrees(percentage) {
          return percentage / 100 * 360
      }

  });
</script>

<%- include("partials/footer"); -%>